<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854125889261-f71tj9hpkgarn4bh5j7ost5evq22apnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854125889261-f71tj9hpkgarn4bh5j7ost5evq22apnv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854125889261-3dh05p6inme7ue86hn498jviqlgbgt9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcABAOQ9LeTDm7OtREL7ofrMFfTjesOK4</string>
	<key>GCM_SENDER_ID</key>
	<string>854125889261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chocobread</string>
	<key>PROJECT_ID</key>
	<string>chocobread-23074</string>
	<key>STORAGE_BUCKET</key>
	<string>chocobread-23074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854125889261:ios:f239f211965999c692eee4</string>
</dict>
</plist>